*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro",sans-serif;
}

html, body{
    background-color: #eeede8;
    width: 100%;
    min-height: 100vh;
}

p{
    text-align: center;
    padding: 0.2rem;
}

h1{
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: #eeede8;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-left: 2rem;
}


.underline{
    width: 6rem;
    height: 0.30rem;
    background:  #7FD1AE;;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

/* underline with angled edges */
.underline::before{
    width: 0.5rem;
    height: 0.30rem;
    background:  #7FD1AE;;
    transform: skewX(-30deg);
    position: absolute;
    display: block;
    content: "";
    top:0;
    left:-0.4rem;
}

.products-container{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.men-card{
    /* mobile firt mobile tem que ocupar 100%, nesse caso */
    width: 90%;
    /* max-width: 250px;  coloco esse no media query*/
    max-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.add-btn{
    margin-top: 0.4rem;
    padding: 0.5rem 1rem;
    word-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 4px;
    background: #E89A43;
    border: 2px solid #E89A43;
    box-shadow: 2px 2px 1px 1px #999;
    color: rgb(35, 35, 76);;
}
.add-btn:active{
    background-color: #de8d32;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.add-btn:hover{
    background: #E89A43;
    color: white;
    outline: none;
}

.wrapper{
    padding-top: 0.5rem;
    line-height: 1.5;
    flex-grow: 1;
}

.description{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5;
}


img{
    width: 80px;
    height: 100px;
    object-fit: fill;
    transition: 0.5s;
}

img:hover {
    transform: rotate(10deg);
}

.footer{
    min-height: 60px;
    background-color: #e7e5dd;
    padding-left: 1rem;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-top: 2rem;
}

.fa {
    padding: 8px;
    font-size: 25px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    cursor: pointer;
}

.fa-linkedin {
    background: black;
    color: white;
}

.fa .fa-linkedin{
    padding: 5px;
}

.fa-github{
    color: black;
}

@media only screen and (min-width: 934){
    .footer{
        margin-top: 2rem;
    }
}


@media only screen and (min-width: 600px){
    .men-card{
        max-width: 200px;
    }
}

/* divide pelo o numero de cards que eu quero que apareca na tela */
@media only screen and (min-width: 700px){
    .men-card{
        max-width: 200;
    }
}

@media only screen and (min-width: 1200px){
    .men-card{
        max-width: 250px;
    }
    h1{
        padding-top: 2rem;
        padding-bottom: 0.5;
    }
} 