* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #eeede8;
    width: 100%;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
}

p {
    color: black
}

.cart-modal h3 {
    text-align: left;
    padding-left: 1rem;
    font-weight:400;
}

img {
    width: 80px;
    height: 100px;
    object-fit: fill;
    transition: 0.5s;
}

.products-container {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.cart-modal .products-container {
    /* mobile firt mobile tem que ocupar 100%, nesse caso */
    width: 90%;
    max-width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
    margin: auto;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: none;
}


.product-card-cart {
    width: 100%;
    max-width: 90%;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: none;
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
    /* background-color: lightblue; */
}


.product-card-cart .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

.product-card-cart .wrapper-info-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.quantity-cart {
    background-color: #ffff;
    line-height: 2;
    padding: 0px 15px;
    border: none;
    /* padding: 0.5rem 0.75rem; */
}

.wrapper-btn {
    display: flex;
    padding: 2px 8px;
    background-color: #7FD1AE;
    border-radius: 2px;
}

.icon {
    display: inline-block;
    padding: 1px 0.5px;
    width: 1.3rem;
    height: 1.3rem;
    /* stroke-width: 0;
    stroke: currentColor;
    fill: currentColor; */
    background-color: #7FD1AE;
}

/* svg {
    width: 1.3rem;
    height: 1.3rem;
    color: black;
    padding: 1px 0.5px;
} */


.increase-btn{
    padding: 2px 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.decrease-btn{
    padding: 2px 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.description {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5;
}

.cart-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-bottom: 3rem;
    line-height: 3rem;
    /*  transfomr used to hide the menu by default */
    /* y- sobe desce, x- direito e esquerdo */
    /* menos e pra cima,estou subindo 100 */
    transform: translateX(100%);
    /* used to animate the change in translation value and create a slide up/down effect */
    transition: transform ease-in-out 0.5s;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #e9e7e0;
    color: black;
    list-style: none;
    padding-top: 4rem;
    overflow-y: auto;
}

.cart-btn {
    display: flex;
    justify-content: end;
    align-content: end;
    width: 2rem;
    height: auto;
    /* position fixex, so scrolling wont affect it */
    position: fixed;
    /* z-index to make sure it stays above avery other element */
    z-index: 10001;
    /* top and right, to add it to the top right corner */
    top: 1rem;
    right: 1rem;
    transition: all ease-in-out 0.5s;
    /* transition-delay: 0.1s; */
    color: black;
    /* font-weight: 800; */
    /* padding: 4px; */
    border: none;
    cursor: pointer;
}

/* To hide the close icon by default, add display: none; to the closeIcon class */
.closeIcon {
    display: none;
}

/* This class below will be added and removed from the menu with Javascript to show and hide the menu. */
.show-cart {
    /* By resetting translateY to 0, the menu will slide down and cover the whole screen */
    transform: translateX(0);
}



@media only screen and (min-width: 820px) {
    .cart-modal {
        width: 100%;
        max-width: 45%;
    }
}

@media only screen and (min-width: 1020px) {
    .cart-modal {
        width: 100%;
        max-width: 35%;
    }
}