*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeede8;
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    font-family: "Source Sans Pro",sans-serif;;
}

.testimonials-container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.testimonials-container p {
    margin-left: 0.9rem;
    margin-bottom: 1.5rem;
}

/* .testimonials-container p::before {
    content:"“";
    height: 6rem;
    font-size: 8rem;
    color: red;
    position: absolute;
    left: 10rem;
    top: -1.5rem;
    z-index: 1;
} */

/* .testimonials-container p::after {
    content:"”";
    height: 2rem;
    font-size: 4rem;
    color: black;
    position: absolute;
    right: 0;
    bottom: 2.5rem;
} */

.testimonials-container svg {
    width: 30px;
}

.testimonial-card{
    background-color: #e7e5dd;
    font-weight: lighter;
    border-radius: 10px;
    padding: 1rem;
    /* abosulte, ignore others elements */
    /* makes them all stack on top of each other */
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 100;
    transition: all 1s;
    align-items: center;
}

.underline{
    width: 6rem;
    height: 0.30rem;
    background:  #7FD1AE;;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* underline with angled edges */
.underline::before{
    width: 0.5rem;
    height: 0.30rem;
    background:  #7FD1AE;;
    transform: skewX(-30deg);
    position: absolute;
    display: block;
    content: "";
    top:0;
    left:-0.4rem;
}



.bullets-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.bullet {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 0.5rem;
    cursor: pointer;    
}

.current-bullet{
    background-color: #b3ac8f;
}

@media only screen and (min-width: 750){
    .underline{
        width: 6rem;
        height: 0.30rem;
    }
    
    /* underline with angled edges */
    .underline::before{
        width: 0.5rem;
        height: 0.33rem;
        background:  #7FD1AE;;
        transform: skewX(-30deg);

    }
}

@media only screen and (min-width: 934){

}